@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'EB Garamond', serif;
  cursor: none;
}

/* cursor: none */
@media (hover: hover) and (pointer: fine) {
  body {
    cursor: none;
  }
}

h1 {
  font-size: 2.25rem;
}

.bg-floral {
  background: 
    url('/textures/gray-floral 1.png'),
    url('/textures/asfalt-light.png'),    
    radial-gradient(ellipse at bottom, #e8e0d2, #f3f1ed)
    ;
  background-size: 150px 124px, auto, 100% 100%;
  background-repeat: repeat, repeat, no-repeat;
  background-position: center, center;
}